.arrow-nav .arrow {
  position: fixed;
  top: calc(50% - 20px);
  width: 50px;
  height: 50px;
  border-width: 2px;
  font-weight: bold;
  background: transparent;
  transition: all ease 0.3s;
  border: 3px solid rgba(0, 0, 0, 0.1); }
  .arrow-nav .arrow:hover {
    background: white;
    border-color: #fff;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1); }

.arrow-nav .left-arrow {
  left: 25px; }
  .arrow-nav .left-arrow i {
    position: relative;
    top: 1px; }

.arrow-nav .right-arrow {
  right: 25px; }
  .arrow-nav .right-arrow i {
    position: relative;
    top: 1px;
    left: 2px; }

@media (max-width: 767px) {
  .arrow-nav .arrow {
    display: none; } }
