.me {
  padding: 24px;
  padding-top: 48px;
  color: #333; }
  .me hr.horizontal-divider {
    margin: 16px 0;
    height: 1px;
    background: linear-gradient(to right, transparent, rgba(102, 119, 136, 0.2) 20%, rgba(102, 119, 136, 0.2) 80%, transparent); }
  .me h1,
  .me h2,
  .me h3,
  .me h4,
  .me h5,
  .me h6 {
    color: #333; }
  .me h3 {
    line-height: 1.3; }
  .me .name {
    margin-bottom: 6px; }
  .me .ant-tabs-bar {
    text-align: center; }
  .me .profile-img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    box-shadow: 1px 2px 4px #777;
    border-radius: 50%;
    width: 100px;
    height: 100px; }
  .me .company {
    line-height: 2;
    font-size: 14px; }
  .me .address {
    color: #888;
    position: relative; }
    .me .address i {
      color: #666;
      margin-right: 8px; }
  .me .numbers {
    margin-top: -16px;
    margin-bottom: -4px; }
    .me .numbers > div {
      transition: 0.2s all ease;
      border-radius: 4px; }
      .me .numbers > div h1,
      .me .numbers > div span {
        transition: 0.2s all ease; }
    .me .numbers > div:hover {
      transition: 0.2s all ease;
      background: rgba(18, 18, 18, 0.05);
      border-color: rgba(18, 18, 18, 0.05); }
      .me .numbers > div:hover h1,
      .me .numbers > div:hover span {
        transition: 0.2s all ease; }
  .me .custom-image img {
    display: block; }
  .me .custom-card {
    padding: 24px 32px; }
  .me .custom-card p {
    color: #555;
    font-size: 14px; }
  .me .beyond-the-work-title {
    text-align: center;
    margin-top: -8px;
    margin-bottom: 14px; }
  .me .monitorParamNum {
    height: 60px;
    line-height: 60px;
    font-size: 50px; }
  .me .monitorParamText {
    font-size: 13px;
    margin: 4px auto 10px;
    display: block;
    text-transform: capitalize; }
  .me .footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 28px; }
    .me .footer img {
      width: 75%; }
  .me .ant-tabs {
    overflow: visible; }
  .me .skill-set {
    margin-top: -14px;
    text-align: center; }
  .me .skill-set-score {
    text-align: center;
    margin: 8px 0px; }
  .me .color-block {
    display: inline-block;
    border-radius: 2px;
    width: 20px;
    height: 14px;
    vertical-align: text-top;
    margin-right: 6px; }
  .me .familiar-color {
    background-color: #519c9c; }
  .me .proficient-color {
    background-color: #e2aa69; }
  .me .master-color {
    background-color: #e17768; }
  .me .vertical-divider {
    display: inline-block;
    margin: auto 10px;
    width: 2px;
    height: 24px;
    vertical-align: middle;
    background: linear-gradient(0deg, transparent, rgba(102, 119, 136, 0.2) 40%, rgba(102, 119, 136, 0.2) 60%, transparent); }
  .me .tags .ant-tag {
    letter-spacing: 1px;
    font-size: 11px;
    line-height: 18px;
    height: 20px;
    margin-bottom: 6px; }
  .me .tags:before {
    content: "learning list:";
    display: block;
    font-size: 12px;
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 4px;
    text-transform: uppercase; }
  .me .frontend {
    min-height: 336px;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
  .me .backend {
    min-height: 336px;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    .me .backend .top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 40px; }
      .me .backend .top > div {
        margin: 14px 4px; }
        .me .backend .top > div > div {
          margin-bottom: 14px; }
        .me .backend .top > div > h1 {
          text-align: center;
          color: #555; }
    .me .backend .ant-progress-circle-path {
      stroke: #24e1dd; }
    .me .backend .progress-text {
      margin-bottom: 10px;
      color: #444;
      letter-spacing: 1px;
      font-size: 20px; }
    .me .backend .progress-value {
      color: #555;
      font-size: 18px;
      letter-spacing: 1px; }
  .me .devTools {
    min-height: 336px; }
  .me .timeline-name {
    text-align: center;
    margin-top: -8px;
    margin-bottom: 14px; }
  .me .timeline-title {
    color: #777;
    font-size: 14px;
    font-weight: normal; }
  .me .timeline-desc {
    font-size: 14px;
    color: #646464;
    font-weight: bold; }

@media only screen and (min-width: 992px) and (max-width: 1072px) {
  .me .monitorParamNum {
    height: 44px;
    font-size: 40px; }
  .me .monitorParamText {
    font-size: 12px;
    margin-bottom: 4px; } }

@media only screen and (max-width: 336px) {
  .me .monitorParamNum {
    height: 50px;
    font-size: 40px; }
  .me .monitorParamText {
    font-size: 12px;
    margin-bottom: 8px; } }

@media only screen and (max-width: 767px) {
  .me {
    padding: 12px;
    padding-top: 48px; } }
