* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

.stars,
.stars-lg {
  position: absolute;
  z-index: -1;
  opacity: 0.3;
  width: 2000px;
  min-height: 2000px;
  height: 100%;
  left: calc(50% - 1000px);
  top: 0;
  transform-origin: center;
  background: url("../assets/stars-sm.svg") center/800px auto repeat;
  animation: 1000s rotate360 infinite linear;
}

.stars-lg {
  opacity: 0.2;
  background: url("../assets/stars-lg.svg") center/1100px auto repeat;
  animation: 10s pulse infinite linear;
}

.meteor {
  position: absolute;
  left: 10%;
  top: 10%;
  transform: rotate(30deg);
  pointer-events: none;
}

.meteor img {
  opacity: 0;
  animation-delay: 0;
  animation: meteor 5s 1.5s infinite ease-out;
}

.meteor-right {
  position: absolute;
  left: 80%;
  top: 80%;
  width: 130px;
  transform: rotate(-235deg);
  pointer-events: none;
}

.meteor-right img {
  opacity: 0;
  animation: meteor 5s 1s infinite ease-out;
}
