.home .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #22292c;
  overflow: hidden;
  position: relative;
  z-index: 2;
  min-height: 100vh;
  /* iphone 6 plus */
  /* iphone 6 */
  /* iphone 5 */ }
  .home .wrapper .container {
    text-align: center;
    color: white;
    width: 100%;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%; }
  .home .wrapper .logo {
    width: 100%;
    margin-left: 0;
    animation: 25s spaceship infinite linear; }
  .home .wrapper .slogan-left {
    text-align: right; }
    .home .wrapper .slogan-left img {
      height: 50px; }
  .home .wrapper .slogan-right {
    text-align: left;
    font-size: 36px;
    letter-spacing: 4px;
    line-height: 50px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    color: #fba145; }
    .home .wrapper .slogan-right .default-desc {
      color: #fff; }
  .home .wrapper .cursor {
    margin-left: 3px;
    width: 4px;
    height: 32px;
    background: #fba145;
    display: inline-block;
    animation: cursorAnim 1s infinite ease-out; }
  .home .wrapper .navigation {
    height: auto;
    width: 65%;
    margin: 80px auto;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    text-transform: uppercase;
    justify-content: space-around; }
    .home .wrapper .navigation a {
      transition: all .2s ease;
      letter-spacing: 2px;
      margin: auto 5px;
      color: #fff; }
    .home .wrapper .navigation a.curNav {
      color: #7ed321; }
    .home .wrapper .navigation a:hover {
      transform: translateY(-5px);
      color: #7ed321; }
      .home .wrapper .navigation a:hover .linethrough {
        transform: scaleX(1); }
    .home .wrapper .navigation a:active {
      transform: translateY(-2px); }
    .home .wrapper .navigation .linethrough {
      transition: transform .2s ease;
      content: '';
      display: block;
      position: relative;
      top: 2px;
      width: 100%;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      transform: scaleX(0);
      transform-origin: center; }
  .home .wrapper .footer {
    margin: 0 auto 10px;
    font-size: 24px;
    height: 30px;
    width: 30%;
    min-width: 170px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
    /*
      .linkedin,
      .email,
      .github {
        img:last-child {
          display: none;
        }
        &:active {
          img:first-child {
            display: none;
          }
          img:last-child {
            display: block;
          }
        }
        @media (min-width: 769px) {
          &:hover {
            img:first-child {
              display: none;
            }
            img:last-child {
              display: block;
            }
          }
        }
      }
      */ }
    .home .wrapper .footer a:active img {
      transform: scale(0.9); }
    .home .wrapper .footer a img {
      width: 90%; }
  .home .wrapper .footer-desc {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
    color: #fff;
    padding-left: 5%;
    padding-right: 5%; }
  @media (max-width: 991px) {
    .home .wrapper .slogan-left,
    .home .wrapper .slogan-right {
      text-align: center; }
    .home .wrapper .slogan-left > img {
      width: 90%; }
    .home .wrapper .slogan-right {
      font-size: 34px; } }
  @media (max-width: 767px) {
    .home .wrapper .container {
      margin-top: -30px; }
    .home .wrapper .navigation {
      display: none; }
    .home .wrapper .footer-desc {
      margin-bottom: 30px; } }
  @media (max-width: 440px) {
    .home .wrapper .slogan-right {
      font-size: 26px;
      line-height: 40px; }
    .home .wrapper .cursor {
      height: 25px; } }
  @media (max-width: 414px) {
    .home .wrapper .footer {
      width: 50%; }
      .home .wrapper .footer a img {
        width: 80%; } }
  @media (max-width: 375px) {
    .home .wrapper .slogan-right {
      font-size: 24px;
      line-height: 36px; }
    .home .wrapper .cursor {
      height: 22px; }
    .home .wrapper .footer {
      width: 40%; }
      .home .wrapper .footer a img {
        width: 75%; } }
  @media (max-width: 320px) {
    .home .wrapper .slogan-right {
      font-size: 20px;
      line-height: 28px; }
    .home .wrapper .cursor {
      height: 18px; }
    .home .wrapper .footer {
      width: 40%; }
      .home .wrapper .footer a img {
        width: 80%; } }
