.home {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #22292c;
    overflow: hidden;
    position: relative;
    z-index: 2;
    min-height: 100vh;

    .container {
      text-align: center;
      color: white;
      width: 100%;
      margin: 0 auto;
      padding-left: 5%;
      padding-right: 5%;
    }

    .logo {
      width: 100%;
      margin-left: 0;
      animation: 25s spaceship infinite linear;
    }

    .slogan-left {
      text-align: right;
      img {
        height: 50px;
      }
    }
    .slogan-right {
      text-align: left;
      font-size: 36px;
      letter-spacing: 4px;
      line-height: 50px;
      font-family: 'Anton', sans-serif;
      text-transform: uppercase;
      color: #fba145;
      .default-desc {
        color: #fff;
      }
    }
    .cursor {
      margin-left: 3px;
      width: 4px;
      height: 32px;
      background: #fba145;
      display: inline-block;
      animation: cursorAnim 1s infinite ease-out;
    }

    .navigation {
      height: auto;
      width: 65%;
      margin: 80px auto;
      font-size: 22px;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      text-transform: uppercase;
      justify-content: space-around;
      a {
        transition: all .2s ease;
        letter-spacing: 2px;
        margin: auto 5px;
        color: #fff;
      }
      a.curNav {
        color: #7ed321;
      }

      a:hover {
        transform: translateY(-5px);
        color: #7ed321;
        .linethrough {
          transform: scaleX(1);
        }
      }

      a:active {
        transform: translateY(-2px);
      }

      .linethrough {
        transition: transform .2s ease;
        content: '';
        display: block;
        position: relative;
        top: 2px;
        width: 100%;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        transform: scaleX(0);
        transform-origin: center;
      }
    }

    .footer {
      margin: 0 auto 10px;
      font-size: 24px;
      height: 30px;
      width: 30%;
      min-width: 170px;
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      text-align: center;
      a {
        &:active img {
          transform: scale(0.9);
        }
        img {
          width: 90%;
        }
      }

    }

    .footer-desc {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 10px auto;
      color: #fff;
      padding-left: 5%;
      padding-right: 5%;
    }

    @media (max-width: 991px) {
      .slogan-left,
      .slogan-right {
        text-align: center;
      }

      .slogan-left > img {
        width: 90%;
      }

      .slogan-right {
        font-size: 34px;
      }
    }
    // small devices
    @media (max-width: 767px) {
      .container {
        margin-top: -30px;
      }
      .navigation {
        display: none;
      }
      .footer-desc {
        margin-bottom: 30px;
      }
    }

    @media (max-width: 440px) {
      .slogan-right {
        font-size: 26px;
        line-height: 40px;
      }
      .cursor {
        height: 25px;
      }
    }

    /* iphone 6 plus */
    @media (max-width: 414px) {
      .footer {
        width: 50%;
        a img {
          width: 80%;
        }
      }
    }

    /* iphone 6 */
    @media (max-width: 375px) {
      .slogan-right {
        font-size: 24px;
        line-height: 36px;
      }
      .cursor {
        height: 22px;
      }
      .footer {
        width: 40%;
        a img {
          width: 75%;
        }
      }
    }

    /* iphone 5 */
    @media (max-width: 320px) {
      .slogan-right {
        font-size: 20px;
        line-height: 28px;
      }
      .cursor {
        height: 18px;
      }
      .footer {
        width: 40%;
        a img {
          width: 80%;
        }
      }
    }
  }
}
