.home .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #22292c;
  overflow: hidden;
  position: relative;
  z-index: 2;
  height: 100vh;
  min-height: 500px;
  padding-bottom: 20px;
  padding-top: 30px;
  /* iphone 6 plus */
  /* iphone 6 */
  /* iphone 5 */ }
  .home .wrapper .container {
    text-align: center;
    color: white;
    width: 100%;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%; }
  .home .wrapper .logo {
    width: 100%;
    margin-left: 0;
    animation: 25s spaceship infinite linear; }
  .home .wrapper .stars,
  .home .wrapper .stars-lg {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    width: 2000px;
    min-height: 2000px;
    height: 100%;
    left: calc(50% - 1000px);
    top: 0;
    transform-origin: center;
    background: url("../assets/stars-sm.svg") center/800px auto repeat;
    animation: 1000s rotate360 infinite linear; }
  .home .wrapper .stars-lg {
    opacity: 0.2;
    background: url("../assets/stars-lg.svg") center/1100px auto repeat;
    animation: 10s pulse infinite linear; }
  .home .wrapper .meteor {
    position: absolute;
    left: 10%;
    top: 10%;
    transform: rotate(30deg);
    pointer-events: none; }
  .home .wrapper .meteor img {
    opacity: 0;
    animation-delay: 0;
    animation: meteor 6s infinite ease-out; }
  .home .wrapper .meteor-right {
    position: absolute;
    left: 80%;
    top: 80%;
    width: 130px;
    transform: rotate(-235deg);
    pointer-events: none; }
  .home .wrapper .meteor-right img {
    opacity: 0;
    animation: meteor 6s 3s infinite ease-out;
    animation-delay: 2.5s; }
  .home .wrapper .slogan {
    /* iphone 6 plus */
    /* iphone 6 */
    /* iphone 5 */ }
    .home .wrapper .slogan .slogan-left {
      text-align: right; }
      .home .wrapper .slogan .slogan-left img {
        height: 50px; }
    .home .wrapper .slogan .slogan-right {
      text-align: left;
      font-size: 36px;
      letter-spacing: 4px;
      line-height: 50px;
      font-weight: lighter;
      text-transform: uppercase;
      color: #fba145; }
      .home .wrapper .slogan .slogan-right .default-desc {
        color: #fff; }
    .home .wrapper .slogan .cursor {
      margin-left: 3px;
      width: 4px;
      height: 34px;
      background: #fba145;
      display: inline-block;
      animation: cursorAnim 1s infinite ease-out; }
    @media (max-width: 991px) {
      .home .wrapper .slogan .slogan-left,
      .home .wrapper .slogan .slogan-right {
        text-align: center; }
      .home .wrapper .slogan .slogan-left > img {
        width: 90%; }
      .home .wrapper .slogan .slogan-right {
        font-size: 34px; } }
    @media (max-width: 440px) {
      .home .wrapper .slogan .slogan-right {
        font-size: 28px;
        line-height: 42px; }
      .home .wrapper .slogan .cursor {
        height: 28px; } }
    @media (max-width: 414px) {
      .home .wrapper .slogan .navigation {
        font-size: 20px;
        width: 60%; } }
    @media (max-width: 375px) {
      .home .wrapper .slogan .slogan-right {
        font-size: 24px;
        line-height: 36px; }
      .home .wrapper .slogan .cursor {
        height: 24px; }
      .home .wrapper .slogan .navigation {
        font-size: 18px;
        width: 80%; } }
    @media (max-width: 320px) {
      .home .wrapper .slogan .slogan-right {
        font-size: 22px;
        line-height: 30px; }
      .home .wrapper .slogan .cursor {
        height: 22px; }
      .home .wrapper .slogan .navigation {
        font-size: 16px; } }
  .home .wrapper .navigation {
    height: auto;
    cursor: pointer;
    margin: 80px auto;
    font-size: 22px;
    font-weight: lighter;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    width: 50%; }
    .home .wrapper .navigation a {
      transition: all .2s ease;
      letter-spacing: 2px; }
    .home .wrapper .navigation a:active {
      transform: translateY(3px); }
    @media (min-width: 769px) {
      .home .wrapper .navigation a:hover {
        transform: translateY(-5px); }
        .home .wrapper .navigation a:hover .linethrough {
          transform: scaleX(1); }
      .home .wrapper .navigation a:active {
        transform: translateY(-2px); } }
    .home .wrapper .navigation .linethrough {
      transition: all .2s ease;
      content: '';
      display: block;
      position: relative;
      top: 2px;
      width: 100%;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      transform: scaleX(0);
      transform-origin: center; }
    .home .wrapper .navigation .resume {
      color: #fff; }
    .home .wrapper .navigation .project {
      color: #fff; }
    .home .wrapper .navigation .me {
      color: #7ed321; }
  .home .wrapper .footer {
    margin: 0 auto 10px;
    align-self: flex-end;
    font-size: 24px;
    height: 30px;
    width: 30%;
    min-width: 170px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-align: center; }
    .home .wrapper .footer a:active img {
      transform: scale(0.9); }
    .home .wrapper .footer a img {
      width: 90%; }
    .home .wrapper .footer .linkedin img:last-child,
    .home .wrapper .footer .email img:last-child,
    .home .wrapper .footer .github img:last-child {
      display: none; }
    @media (min-width: 769px) {
      .home .wrapper .footer .linkedin:hover img:first-child,
      .home .wrapper .footer .email:hover img:first-child,
      .home .wrapper .footer .github:hover img:first-child {
        display: none; }
      .home .wrapper .footer .linkedin:hover img:last-child,
      .home .wrapper .footer .email:hover img:last-child,
      .home .wrapper .footer .github:hover img:last-child {
        display: block; } }
  .home .wrapper .footer-desc {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto 0;
    color: #fff;
    padding-left: 5%;
    padding-right: 5%; }
  @media (max-width: 414px) {
    .home .wrapper .navigation {
      font-size: 20px;
      width: 60%; }
    .home .wrapper .footer {
      width: 50%; }
      .home .wrapper .footer a img {
        width: 80%; } }
  @media (max-width: 375px) {
    .home .wrapper .navigation {
      font-size: 18px;
      width: 80%; }
    .home .wrapper .footer {
      width: 40%; }
      .home .wrapper .footer a img {
        width: 75%; } }
  @media (max-width: 320px) {
    .home .wrapper .navigation {
      font-size: 16px; }
    .home .wrapper .footer {
      width: 40%; }
      .home .wrapper .footer a img {
        width: 80%; } }
