.home {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #22292c;
    overflow: hidden;
    position: relative;
    z-index: 2;
    height: 100vh;
    min-height: 500px;
    padding-bottom: 20px;
    padding-top: 30px;

    .container {
      text-align: center;
      color: white;
      width: 100%;
      margin: 0 auto;
      padding-left: 5%;
      padding-right: 5%;
    }

    .stars,
    .stars-lg {
      position: absolute;
      z-index: -1;
      opacity: 0.3;
      width: 2000px;
      min-height: 2000px;
      height: 100%;
      left: calc(50% - 1000px);
      top: 0;
      transform-origin: center;
      background: url("../assets/stars-sm.svg") center/800px auto repeat;
      animation: 1000s rotate360 infinite linear;
    }

    .stars-lg {
      opacity: 0.2;
      background: url("../assets/stars-lg.svg") center/1100px auto repeat;
      animation: 10s pulse infinite linear;
    }

    .meteor {
      position: absolute;
      left: 10%;
      top: 10%;
      transform: rotate(30deg);
      pointer-events: none;
    }

    .meteor img {
      opacity: 0;
      animation-delay: 0;
      animation: meteor 6s infinite ease-out;
    }

    .meteor-right {
      position: absolute;
      left: 80%;
      top: 80%;
      width: 130px;
      transform: rotate(-235deg);
      pointer-events: none;
    }

    .meteor-right img {
      opacity: 0;
      animation: meteor 6s 3s infinite ease-out;
      animation-delay: 2.5s;
    }

    .slogan {
      margin-top: 30px;
      .slogan-left {
        text-align: right;
        img {
          height: 50px;
        }
      }

      .slogan-right {
        text-align: left;
        font-size: 36px;
        letter-spacing: 4px;
        line-height: 50px;
        font-weight: lighter;
        text-transform: uppercase;
        color: #fba145;
        .default-desc {
          color: #fff;
        }
      }
      .cursor {
        margin-left: 3px;
        width: 4px;
        height: 34px;
        background: #fba145;
        display: inline-block;
        animation: cursorAnim 1s infinite ease-out;
      }

      @media (max-width: 991px) {
        .slogan-left,
        .slogan-right {
          text-align: center;
        }

        .slogan-left > img {
          width: 90%;
        }

        .slogan-right {
          font-size: 34px;
        }
      }

      @media (max-width: 440px) {
        .slogan-right {
          font-size: 28px;
          line-height: 42px;
        }
        .cursor {
          height: 28px;
        }
      }
      /* iphone 6 plus */
      @media (max-width: 414px) {
        .navigation {
          font-size: 20px;
          width: 60%;
        }
      }
      /* iphone 6 */
      @media (max-width: 375px) {
        .slogan-right {
          font-size: 24px;
          line-height: 36px;
        }
        .cursor {
          height: 24px;
        }
        .navigation {
          font-size: 18px;
          width: 80%;
        }
      }
      /* iphone 5 */
      @media (max-width: 320px) {
        .slogan-right {
          font-size: 22px;
          line-height: 30px;
        }
        .cursor {
          height: 22px;
        }
        .navigation {
          font-size: 16px;
        }
      }
    }
    .navigation {
      height: auto;
      cursor: pointer;
      margin: 80px auto;
      font-size: 22px;
      font-weight: lighter;
      text-transform: uppercase;
      display: flex;
      justify-content: space-around;
      width: 50%;
      span {
        transition: all .2s ease-in-out;
      }
      span:hover {
        transform: translateY(-5px);
        .linethrough {
          transform: scaleX(1);
        }
      }
      .linethrough {
        display: block;
        content: '';
        position: relative;
        top: 2px;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        transform: scaleX(0);
      }
      .resume {
      }
      .project {
      }
      .me {
        color: #7ed321;
      }
    }

    .footer {
      margin: 0 auto 10px;
      align-self: flex-end;
      font-size: 24px;
      height: 30px;
      width: 25%;
      min-width: 300px;
      display: flex;
      justify-content: space-around;
    }
    /* iphone 6 plus */
    @media (max-width: 414px) {
      .navigation {
        font-size: 20px;
        width: 60%;
      }
    }
    /* iphone 6 */
    @media (max-width: 375px) {
      .navigation {
        font-size: 18px;
        width: 80%;
      }
    }
    /* iphone 5 */
    @media (max-width: 320px) {
      .navigation {
        font-size: 16px;
      }
    }
  }
}
