.navheader {
  background: #fff;
  text-align: center;
  height: 62px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  .counter {
    color: #999;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 8px 0 0 0;
  }

  .arrows {
    font-size: 26px;
    position: relative;
    cursor: pointer;
    margin-top: -6px;
    .left {
      position: absolute;
      left: 5%;
    }
    .right {
      position: absolute;
      right: 5%;
    }
    i {
      padding: 4px;
      border-radius: 50%;
      color: #777;
      transition: background 0.3s ease;
      &:hover {
        background: #ddd;
        color: #fff;
      }
    }
  }
}
