$font-color: #40445e;
.nav-menu {
  background: rgba(0, 0, 0, 0);
  position: fixed;
  display: block;
  border-bottom: none;
  text-transform: uppercase;
  li {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
  }
  .ant-menu-item-selected > a,
  .ant-menu-item-selected > a:hover {
    color: #108ee9 !important;
  }
  @media (max-width: 767px) {
    & {
      display: none;
    }
  }
}
