.nav-menu {
  background: transparent;
  position: fixed;
  display: block;
  border-bottom: none;
  text-transform: uppercase; }
  .nav-menu li {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px; }
  .nav-menu .ant-menu-item-selected > a,
  .nav-menu .ant-menu-item-selected > a:hover {
    color: #108ee9 !important; }
  @media (max-width: 767px) {
    .nav-menu {
      display: none; } }
