.taxonomy .first-screen {
  min-height: 550px;
  max-height: 700px;
  height: 100vh;
  background-color: #63aaff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.taxonomy .logo-wrapper {
  padding: 24px; }
  .taxonomy .logo-wrapper img {
    max-width: 100%; }

.taxonomy .title {
  margin-bottom: 40px; }
