.app .navbutton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 4;
  display: none; }

@media (max-width: 767px) {
  .app .navbutton {
    display: block; } }

.app .bgcover {
  transition: background-color 0.3s ease;
  background-color: transparent;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1; }

.app .bgcover.shown {
  background-color: rgba(26, 31, 33, 0.9);
  z-index: 3; }

.app .navlist {
  position: absolute;
  bottom: 70px;
  right: 30px; }
