.app {
  .navbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 4;
    display: none;
  }

  @media (max-width: 767px) {
    .navbutton {
      display: block;
    }
  }

  .bgcover {
    transition: background-color 0.3s ease;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .bgcover.shown {
    background-color: rgba(26, 31, 33, 0.9);
    z-index: 3;
  }

  .navlist {
    position: absolute;
    bottom: 70px;
    right: 30px;
  }
}
