.dashboard {
  overflow: hidden;
  position: relative;
  z-index: 2;
  background: #000;
  min-height: 100vh; }
  .dashboard .content {
    margin-left: 300px;
    padding: 40px 14px; }
  @media (max-width: 767px) {
    .dashboard .content {
      margin: auto;
      padding: 24px 14px; } }
