.dashboard {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background: #000;
  min-height: 100vh; }
  .dashboard .sidebar {
    min-width: 300px; }
  .dashboard .content {
    width: 100%; }
