@import '../styles/variables.scss';

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -14%;
  & > div {
    max-width: 700px;
    width: 80%;
  }

  .project {
    margin-bottom: 40px;
    border-radius: 14px;

    .link {
      display: flex;
      flex-flow: wrap;
      align-items: center;
      justify-content: space-around;
      padding: 16px 0;
      border-radius: 14px;
      &:hover .project-desc {
        background: #fff;
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      }
      img {
        margin: 14px;
        max-width: 300px;
        max-height: 300px;
        width: 100%;
      }
    }
    .youplea {
      background-color: $youplea;
      &:hover .project-desc {
        color: $youplea;
      }
    }

    .hearful {
      background-color: $hearful;
      &:hover .project-desc {
        color: $hearful;
      }
    }

    .fanalytical {
      background-color: $fanalytical;
      &:hover .project-desc {
        color: $fanalytical;
      }
    }

    .taxonomy {
      background-color: $gui;
      &:hover .project-desc {
        color: $gui;
      }
    }

    .desc-wrapper {
      text-align: center;
      margin-bottom: 14px;
      .project-name {
        font-size: 34px;
      }
      .project-desc {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.5px;
        padding: 20px 14px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        margin-top: 20px;
        color: rgba(0, 0, 0, 0.5);
        transition: all 0.2s ease;
      }
    }
  }

  @media (max-width: 767px) {
    margin-left: 0;
    & > div {
      width: 100%;
    }
    .project {
      .desc-wrapper {
        .project-name {
          font-size: 30px;
        }
        .project-desc {
          font-size: 14px;
        }
      }
    }
  }

  /* iphone 6 plus */
  @media (max-width: 414px) {
    .project {
      .desc-wrapper {
        .project-name {
          font-size: 28px;
        }
      }
    }
  }
}
